<!DOCTYPE html>
<html>
<head>
    <title>Teacher Assistant</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>AI-based Teacher Assistant</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container content">
        <h2>Welcome to the AI-based Teacher Assistant Application</h2>
        <p>This application is a collaborative effort developed for the Wizeline bootcamp. The Teacher Assistant is designed to facilitate educational content creation, making it easier for teachers to design and deliver effective classroom experiences. This innovative tool is the brainchild of Ivan Cabezas and LLMs, combining expertise in education and advanced AI capabilities. :D</p>


       {% include 'formHome.html' %}


    </div>

  <footer>
      <p>© 2023 <a href="https://www.linkedin.com/in/ivanmcabezas/" target="_blank">Ivan Cabezas</a> and ChatGPT. Developed for the Wizeline Bootcamp.</p>
  </footer>
  

</body>  
</html>






<!--



<!DOCTYPE html>




<html lang="en">

  
  <head>
      <title>Teacher Assistant</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      <h2>Teacher Assistant Form</h2>


    

    
      <form action="/submit" method="post">
          <label for="deliverable">Deliverable:</label>
          <input type="text" id="deliverable" name="deliverable"><br><br>

          <label for="subject">Subject:</label>
          <input type="text" id="subject" name="subject"><br><br>

          <label for="content">Content:</label>
          <input type="text" id="content" name="content"><br><br>

          <input type="submit" value="Submit">
      </form>



    
  </body>
</html>
-->